rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function isImageOrVideo() {
      return request.resource.contentType.matches('(image|video)/.*');
    }

    match /profiles/{userId}/avatar {
      allow read: if request.auth != null;
      allow create, update: if request.auth != null
        && request.auth.uid == userId
        && request.resource.size <= 5242880
        && request.resource.contentType.matches('image/.*');
      allow delete: if request.auth != null && request.auth.uid == userId;
    }

    match /messages/{userId}/{fileName} {
      allow read: if request.auth != null;
      allow create, update: if request.auth != null
        && request.auth.uid == userId
        && (!request.resource.contentType.matches('video/.*')
          || request.resource.size <= 50000000);
      allow delete: if request.auth != null && request.auth.uid == userId;
    }

    match /posts/{userId}/{fileName} {
      allow read: if request.auth != null;
      allow create, update: if request.auth != null
        && request.auth.uid == userId
        && request.resource.size <= 150000000
        && isImageOrVideo();
      allow delete: if request.auth != null && request.auth.uid == userId;
    }
  }
}
